<!-- Banner -->
<div class="bg-gray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
    <div class="font-bold mr-8">Zero Trust World '22</div>
    <div class="align-items-center hidden lg:flex">
        <span class="line-height-3">Gain hands-on hacking experience and level up your cybersecurity stack.</span>
    </div>
    <a href="http://zerotrustworld.threatlocker.com/" class="flex align-items-center ml-2 mr-8">
        <span class="underline font-bold text-white">Learn More</span>
    </a>
    <a class="flex align-items-center no-underline justify-content-center border-circle text-gray-100 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150" style="width:2rem; height: 2rem" (click)="!bannerVisible">
        <i class="pi pi-times"></i>
    </a>
  </div>
  
  <!-- NavBar -->
  <div class="bg-bluegray-900 py-3 px-6 shadow-2 flex align-items-center justify-content-between relative lg:static">
    <img src="assets/images/logo.png" alt="Image" height="50">
    <a pRipple class="cursor-pointer block lg:hidden text-white" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
        <i class="pi pi-bars text-4xl"></i>
    </a>
    <div class="align-items-center flex-grow-1 lg:justify-content-end hidden lg:flex absolute lg:static w-full bg-bluegray-900 left-0 top-100 px-6 lg:px-0 z-3 shadow-2 lg:shadow-none">
        <ul class="list-none p-0 m-0 flex lg:align-items-center text-white select-none flex-column lg:flex-row cursor-pointer">
            <li class="relative">
                <a pRipple class="flex px-0 lg:px-5 py-3 align-items-center hover:text-indigo-100 font-medium transition-colors transition-duration-150" 
                    pStyleClass="@next" enterClass="hidden" enterActiveClass="scalein" leaveToClass="hidden" leaveActiveClass="fadeout" [hideOnOutsideClick]="true">
                    <span>Platform</span>
                    <i class="pi pi-chevron-down ml-auto lg:ml-3"></i>
                </a>
                <ul class="list-none p-0 m-0 border-round shadow-0 lg:shadow-2 lg:absolute surface-overlay hidden origin-top w-full lg:w-15rem text-900">
                    <li>
                        <a pRipple class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150">
                            <i class="pi pi-lock text-2xl mr-2 text-blue-600"></i>
                            <span>Default Deny</span>
                        </a>
                    </li>
                    <li>
                        <a pRipple class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150">
                            <i class="pi pi-shield text-2xl mr-2 text-blue-600"></i>
                            <span>Ringfencing®</span>
                        </a>
                    </li>
                    <li>
                        <a pRipple class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150">
                            <i class="pi pi-save text-2xl mr-2 text-blue-600"></i>
                            <span>Storage Control</span>
                        </a>
                    </li>
                    <li>
                        <a pRipple class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150">
                            <i class="pi pi-arrow-up text-2xl mr-2 text-blue-600"></i>
                            <span>Elevation</span>
                        </a>
                    </li>
                    <li>
                        <a pRipple class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150">
                            <i class="pi pi-question text-2xl mr-2 text-blue-600"></i>
                            <span>Help Center</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a pRipple class="flex px-0 lg:px-5 py-3 align-items-center hover:text-indigo-100 font-medium transition-colors transition-duration-150" 
                    pStyleClass="@next" enterClass="hidden" enterActiveClass="scalein" leaveToClass="hidden" leaveActiveClass="fadeout" [hideOnOutsideClick]="true">
                    <span>Why ThreatLocker</span>
                    <i class="pi pi-chevron-down ml-auto lg:ml-3"></i>
                </a>
                <ul class="list-none p-0 m-0 border-round shadow-0 lg:shadow-2 lg:absolute surface-overlay hidden origin-top w-full lg:w-15rem text-900">
                    <li>
                        <a pRipple class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150">
                            <i class="pi pi-cloud text-2xl mr-2 text-blue-600"></i>
                            <span>Remote Access Attacks</span>
                        </a>
                    </li>
                    <li>
                        <a pRipple class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150">
                            <i class="pi pi-cloud-download text-2xl mr-2 text-blue-600"></i>
                            <span>Malware</span>
                        </a>
                    </li>
                    <li>
                        <a pRipple class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150">
                            <i class="pi pi-database text-2xl mr-2 text-blue-600"></i>
                            <span>Data Theft</span>
                        </a>
                    </li>
                    <li>
                        <a pRipple class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150">
                            <i class="pi pi-comments text-2xl mr-2 text-blue-600"></i>
                            <span>Internal IT Disputes</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a pRipple class="flex px-0 lg:px-5 py-3 hover:text-indigo-100 font-medium transition-colors transition-duration-150">
                    <span>Partners</span>
                </a>
            </li>
            <li>
                <a pRipple class="flex px-0 lg:px-5 py-3 hover:text-indigo-100 font-medium transition-colors transition-duration-150">
                    <span>Resources</span>
                </a>
            </li>
            <li>
              <a pRipple class="flex px-0 lg:px-5 py-3 hover:text-indigo-100 font-medium transition-colors transition-duration-150">
                  <span>Company</span>
              </a>
          </li>
        </ul>
        <div class="flex justify-content-between lg:block border-top-1 lg:border-top-none surface-border py-3 lg:py-0 mt-3 lg:mt-0 lg:ml-5">
            <button pButton pRipple label="Book Demo" class="p-button" (click)="bookDemoDialog = true"></button>
        </div>
    </div>
  </div>
