
<!-- Banner -->
<div class="bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
  <div class="font-bold mr-8">🔥 Hot Deals!</div>
  <div class="align-items-center hidden lg:flex">
      <span class="line-height-3">Libero voluptatum atque exercitationem praesentium provident odit.</span>
  </div>
  <a class="flex align-items-center ml-2 mr-8">
      <span class="underline font-bold">Learn More</span>
  </a>
  <a class="flex align-items-center no-underline justify-content-center border-circle text-gray-100 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150" style="width:2rem; height: 2rem">
      <i class="pi pi-times"></i>
  </a>
</div>

<!-- NavBar -->
<div class="bg-gray-900 py-3 px-6 shadow-2 flex align-items-center justify-content-between relative lg:static">
  <img src="assets/images/Logo.png" alt="Image" height="50">
  <a pRipple class="cursor-pointer block lg:hidden text-white" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
      <i class="pi pi-bars text-4xl"></i>
  </a>
  <div class="align-items-center flex-grow-1 lg:justify-content-end hidden lg:flex absolute lg:static w-full bg-gray-900 left-0 top-100 px-6 lg:px-0 z-3 shadow-2 lg:shadow-none">
      <ul class="list-none p-0 m-0 flex lg:align-items-center text-white select-none flex-column lg:flex-row cursor-pointer">
          <li class="relative">
              <a pRipple class="flex px-0 lg:px-5 py-3 align-items-center hover:text-indigo-100 font-medium transition-colors transition-duration-150" 
                  pStyleClass="@next" enterClass="hidden" enterActiveClass="scalein" leaveToClass="hidden" leaveActiveClass="fadeout" [hideOnOutsideClick]="true">
                  <span>Products</span>
                  <i class="pi pi-chevron-down ml-auto lg:ml-3"></i>
              </a>
              <ul class="list-none p-0 m-0 border-round shadow-0 lg:shadow-2 lg:absolute surface-overlay hidden origin-top w-full lg:w-15rem text-900">
                  <li>
                      <a pRipple class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150">
                          <i class="pi pi-list text-2xl mr-2 text-blue-600"></i>
                          <span>Features</span>
                      </a>
                  </li>
                  <li>
                      <a pRipple class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150">
                          <i class="pi pi-shield text-2xl mr-2 text-blue-600"></i>
                          <span>Solutions</span>
                      </a>
                  </li>
                  <li>
                      <a pRipple class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150">
                          <i class="pi pi-users text-2xl mr-2 text-blue-600"></i>
                          <span>Customers</span>
                      </a>
                  </li>
                  <li class="relative">
                      <a pRipple class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150"
                          pStyleClass="@next" enterClass="hidden" enterActiveClass="scalein" leaveToClass="hidden" leaveActiveClass="fadeout" [hideOnOutsideClick]="true">
                          <i class="pi pi-question-circle text-2xl mr-2 text-blue-600"></i>
                          <span>Support</span>
                          <i class="pi pi-chevron-down ml-auto lg:-rotate-90"></i>
                      </a>
                      <ul class="list-none py-3 pl-3 pr-0 m-0 lg:px-0 lg:py-0 border-round shadow-0 lg:shadow-2 lg:absolute surface-overlay hidden origin-top w-full lg:w-15rem cursor-pointer left-100 top-0">
                          <li>
                              <a pRipple class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150">
                                  <i class="pi pi-cloud mr-2"></i>
                                  <span class="font-medium">Help Center</span>
                              </a>
                          </li>
                          <li class="relative">
                              <a pRipple class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150">
                                  <i class="pi pi-question-circle mr-2"></i>
                                  <span class="font-medium">Faq</span>
                              </a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li>
              <a pRipple class="flex px-0 lg:px-5 py-3 hover:text-indigo-100 font-medium transition-colors transition-duration-150">
                  <span>Corporate</span>
              </a>
          </li>
          <li>
              <a pRipple class="flex px-0 lg:px-5 py-3 hover:text-indigo-100 font-medium transition-colors transition-duration-150">
                  <span>Resources</span>
              </a>
          </li>
          <li>
              <a pRipple class="flex px-0 lg:px-5 py-3 hover:text-indigo-100 font-medium transition-colors transition-duration-150">
                  <span>Pricing</span>
              </a>
          </li>
      </ul>
      <div class="flex justify-content-between lg:block border-top-1 lg:border-top-none surface-border py-3 lg:py-0 mt-3 lg:mt-0 lg:ml-5">
          <button pButton pRipple label="Login" icon="pi pi-user" class="p-button font-bold"></button>
      </div>
  </div>
</div>

<!-- Hero -->
<div class="bg-gray-900 px-4 py-8 md:px-6 lg:px-8">
  <div class="flex flex-wrap">
      <div class="w-12 lg:w-6 p-4">
          <h1 class="text-6xl font-bold text-white mt-0 mb-3">Social CRM that helps you grow faster <span class="text-yellow-500 underline">for free</span></h1>
          <p class="text-3xl text-gray-400 mt-0 mb-5">Arcu cursus euismod quis viverra nibh cras. Amet justo donec enim diam vulputate ut.</p>
          <ul class="list-none p-0 m-0">
              <li class="mb-3 flex align-items-center"><i class="pi pi-compass text-yellow-500 text-xl mr-2"></i><span class="text-gray-400 line-height-3">Senectus et netus et malesuada fames.</span></li>
              <li class="mb-3 flex align-items-center"><i class="pi pi-map text-yellow-500 text-xl mr-2"></i><span class="text-gray-400 line-height-3">Orci a scelerisque purus semper eget.</span></li>
              <li class="mb-3 flex align-items-center"><i class="pi pi-calendar text-yellow-500 text-xl mr-2"></i><span class="text-gray-400 line-height-3">Aenean sed adipiscing diam donec adipiscing tristique.</span></li>
          </ul>
          <button type="button" pButton pRipple label="Claim Your Account" class="block mt-7 mb-7 lg:mb-0 p-button-rounded p-button-success p-button-lg font-medium"></button>
      </div>
      <div class="w-12 lg:w-6 text-center lg:text-right overflow-hidden">
          <img src="assets/images/hero-illustration.svg" alt="Image" class="w-full lg:w-auto">
      </div>
  </div>
</div>

<!-- Featured Section -->
<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
  <div class="mb-3 font-bold text-2xl">
      <span class="text-900">One Product, </span>
      <span class="text-blue-600">Many Solutions</span>
  </div>
  <div class="text-700 text-sm mb-6">Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna.</div>
  <div class="grid">
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-desktop text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 mb-3 font-medium">Built for Developers</div>
          <span class="text-700 text-sm line-height-3">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-lock text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 mb-3 font-medium">End-to-End Encryption</div>
          <span class="text-700 text-sm line-height-3">Risus nec feugiat in fermentum posuere urna nec. Posuere sollicitudin aliquam ultrices sagittis.</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-check-circle text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 mb-3 font-medium">Easy to Use</div>
          <span class="text-700 text-sm line-height-3">Ornare suspendisse sed nisi lacus sed viverra tellus. Neque volutpat ac tincidunt vitae semper.</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-globe text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 mb-3 font-medium">Fast & Global Support</div>
          <span class="text-700 text-sm line-height-3">Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus.</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-github text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 mb-3 font-medium">Open Source</div>
          <span class="text-700 text-sm line-height-3">Nec tincidunt praesent semper feugiat. Sed adipiscing diam donec adipiscing tristique risus nec feugiat. </span>
      </div>
      <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-shield text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 mb-3 font-medium">Trusted Securitty</div>
          <span class="text-700 text-sm line-height-3">Mattis rhoncus urna neque viverra justo nec ultrices. Id cursus metus aliquam eleifend.</span>
      </div>
  </div>
</div>

<!-- Testimonials -->
<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div class="text-orange-500 font-medium mb-3 text-center">Exclusive Community</div>
  <div class="text-2xl font-medium mb-5 text-center text-900">Join Our Developer Community</div>
  <div class="grid grid-nogutter">
      <div class="col-12 lg:col-6 xl:col-4 p-4">
          <div class="surface-card shadow-2 p-4 flex flex-column align-items-center md:flex-row md:align-items-stretch h-full" style="border-radius: 10px">
              <span>
                  <img src="assets/images/blocks/avatars/circle/avatar-f-1.png" class="w-5rem" />
              </span>
              <div class="flex flex-column align-items-center md:align-items-stretch ml-4 mt-4 md:mt-0">
                  <p class="mt-0 mb-3 line-height-3 text-center md:text-left">No matter where you go, Blocks is the coolest, most happening thing around! We can't understand how we've been living without Blocks.</p>
                  <span class="text-900 font-medium mb-1 mt-auto">Jane Cooper</span>
                  <div class="text-600 text-sm">Belton, Inc</div>
              </div>
          </div>
      </div>
      <div class="col-12 lg:col-6 xl:col-4 p-4">
          <div class="surface-card shadow-2 p-4 flex flex-column align-items-center md:flex-row md:align-items-stretch h-full" style="border-radius: 10px">
              <span>
                  <img src="assets/images/blocks/avatars/circle/avatar-m-1.png" class="w-5rem"/>
              </span>
              <div class="flex flex-column align-items-center md:align-items-stretch ml-4 mt-4 md:mt-0">
                  <p class="mt-0 mb-3 line-height-3 text-center md:text-left">I use Blocks often. We can't understand how we've been living without Blocks. Keep up the excellent work.</p>
                  <div class="text-900 font-medium mb-1 mt-auto">Jacob Jones</div>
                  <div class="text-600 text-sm">Vailan Corp</div>
              </div>
          </div>
      </div>
      <div class="col-12 lg:col-6 xl:col-4 p-4">
          <div class="surface-card shadow-2 p-4 flex flex-column align-items-center md:flex-row md:align-items-stretch h-full" style="border-radius: 10px">
              <span>
                  <img src="assets/images/blocks/avatars/circle/avatar-f-2.png" class="w-5rem"/>
              </span>
              <div class="flex flex-column align-items-center md:align-items-stretch ml-4 mt-4 md:mt-0">
                  <p class="mt-0 mb-3 line-height-3 text-center md:text-left">Just what I was looking for. I would like to personally thank you for your outstanding product.</p>
                  <div class="text-900 font-medium mb-1 mt-auto">Leslie Alexander</div>
                  <div class="text-600 text-sm">Alfred, Ltd</div>
              </div>
          </div>
      </div>
      <div class="col-12 lg:col-6 xl:col-4 p-4">
          <div class="surface-card shadow-2 p-4 flex flex-column align-items-center md:flex-row md:align-items-stretch h-full" style="border-radius: 10px">
              <span>
                  <img src="assets/images/blocks/avatars/circle/avatar-f-3.png" class="w-5rem"/>
              </span>
              <div class="flex flex-column align-items-center md:align-items-stretch ml-4 mt-4 md:mt-0">
                  <p class="mt-0 mb-3 line-height-3 text-center md:text-left">Really good. If you want real marketing that works and effective implementation - Blocks's got you covered.</p>
                  <div class="text-900 font-medium mb-1 mt-auto">Kristin Watson</div>
                  <div class="text-600 text-sm">Charot</div>
              </div>
          </div>
      </div>
      <div class="col-12 lg:col-6 xl:col-4 p-4">
          <div class="surface-card shadow-2 p-4 flex flex-column align-items-center md:flex-row md:align-items-stretch h-full" style="border-radius: 10px">
              <span>
                  <img src="assets/images/blocks/avatars/circle/avatar-f-4.png" class="w-5rem"/>
              </span>
              <div class="flex flex-column align-items-center md:align-items-stretch ml-4 mt-4 md:mt-0">
                  <p class="mt-0 mb-3 line-height-3 text-center md:text-left">I will recommend you to my colleagues. Thanks guys, keep up the good work! Blocks is awesome! It's really wonderful.</p>
                  <div class="text-900 font-medium mb-1 mt-auto">Cody Fisher</div>
                  <div class="text-600 text-sm">Franki</div>
              </div>
          </div>
      </div>
      <div class="col-12 lg:col-6 xl:col-4 p-4">
          <div class="surface-card shadow-2 p-4 flex flex-column align-items-center md:flex-row md:align-items-stretch h-full" style="border-radius: 10px">
              <span>
                  <img src="assets/images/blocks/avatars/circle/avatar-m-5.png" class="w-5rem"/>
              </span>
              <div class="flex flex-column align-items-center md:align-items-stretch ml-4 mt-4 md:mt-0">
                  <p class="mt-0 mb-3 line-height-3 text-center md:text-left">We can't understand how we've been living without Blocks. Blocks impressed me on multiple levels. It's really wonderful.</p>
                  <div class="text-900 font-medium mb-1 mt-auto">Floyd Miles</div>
                  <div class="text-600 text-sm">Hyper, Inc</div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Hero 2 -->
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="flex flex-wrap">
      <div class="w-full xl:w-6 p-3 pr-5">
          <span class="text-indigo-600 font-bold mb-4 block">SUPERCHARGE YOUR PRODUCT</span>
          <div class="font-bold text-900 text-6xl mb-4">Take Control of Your Marketing Strategy</div>
          <p class="mt-0 mb-5 text-700 line-height-3 text-xl">Mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar. In ante metus dictum at tempor commodo ullamcorper a lacus.</p>
          <div class="relative w-full xl:w-30rem">
              <input pInputText type="text" placeholder="Enter your email" class="py-3 pl-3 w-full" style="border-radius: 30px;padding-right: 8rem">
              <button class="p-3 absolute appearance-none p-component border-none bg-indigo-500 hover:bg-indigo-600 active:bg-indigo-700 text-white outline-none h-full cursor-pointer" style="border-radius: 30px; top: 0; right: 0">Join Now</button>
          </div>
      </div>
      <div class="w-full xl:w-6 p-3 flex align-items-center justify-content-center bg-indigo-50 p-4 lg:p-8 mt-5 xl:mt-0" style="border-radius: 30px">
          <div class="relative w-full" style="padding-bottom:56.25%;height:0;">
              <iframe class="absolute top-0 left-0 w-full h-full" width="560" height="315" src="https://www.youtube.com/embed/XNRevmRLb70" title="YouTube video player" frameborder="0" 
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      </div>
  </div>
</div>

<!-- Blog -->
<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div class="font-bold text-6xl text-900 mb-5 text-center">Featured Articles</div>
  <div class="grid nogutter">
      <div class="col-12 lg:col-4 p-3">
          <div class="shadow-2 border-round h-full surface-card">
              <img src="assets/images/blocks/blog/blog-1.jpg" alt="Image" class="block w-full border-round-top">
              <div class="p-4">
                  <span class="block font-medium text-blue-600 mb-3">Crime</span>
                  <div class="text-xl text-900 font-medium mb-3 line-height-3 ">Fugitive flamingo spotted in Florida</div>
                  <div class="text-sm line-height-3 mb-3 text-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                  <div class="flex">
                      <p-avatar image="assets/images/blocks/avatars/circle/avatar-f-1.png" shape="circle"></p-avatar>
                      <div class="ml-2">
                          <div class="text-xs font-bold text-900 mb-1">Anna Lane</div>
                          <div class="text-xs flex align-items-center text-700">
                              <i class="pi pi-calendar mr-1 text-xs"></i>
                              <span>Apr 5, 2021</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-12 lg:col-4 p-3">
          <div class="shadow-2 border-round h-full surface-card">
              <img src="assets/images/blocks/blog/blog-2.jpg" alt="Image" class="block w-full border-round-top">
              <div class="p-4 flex flex-column">
                  <span class="block font-medium text-blue-600 mb-3">Wildlife</span>
                  <div class="text-xl text-900 font-medium mb-3 line-height-3 ">Journey to the Ends of the Earth</div>
                  <div class="text-sm line-height-3 mb-3 text-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                  <div class="flex">
                      <p-avatar image="assets/images/blocks/avatars/circle/avatar-f-2.png" shape="circle"></p-avatar>
                      <div class="ml-2">
                          <div class="text-xs font-bold text-900 mb-1">Arlene McCoy</div>
                          <div class="text-xs flex align-items-center text-700">
                              <i class="pi pi-calendar mr-1 text-xs"></i>
                              <span>Apr 6, 2021</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-12 lg:col-4 p-3">
          <div class="shadow-2 border-round h-full surface-card">
              <img src="assets/images/blocks/blog/blog-3.jpg" alt="Image" class="block w-full border-round-top">
              <div class="p-4">
                  <span class="block font-medium text-blue-600 mb-3">Marie</span>
                  <div class="text-xl text-900 font-medium mb-3 line-height-3 ">'Real and imminent' extinction risk</div>
                  <div class="text-sm line-height-3 mb-3 text-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                  <div class="flex">
                      <p-avatar image="assets/images/blocks/avatars/circle/avatar-f-3.png" shape="circle"></p-avatar>
                      <div class="ml-2">
                          <div class="text-xs font-bold text-900 mb-1">Diane Miles</div>
                          <div class="text-xs flex align-items-center text-700">
                              <i class="pi pi-calendar mr-1 text-xs"></i>
                              <span>Apr 9, 2021</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<!-- Footer -->
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="grid pb-6 border-bottom-1 border-300">
      <div class="col-12 md:col-3">
          <div class="text-900 font-bold line-height-3 mb-3">Company</div>
          <a class="text-700 block cursor-pointer line-height-3 mb-2">About Us</a>
          <a class="text-700 block cursor-pointer line-height-3 mb-2">News</a>
          <a class="text-700 block cursor-pointer line-height-3 mb-2">Investor Relations</a>
          <a class="text-700 block cursor-pointer line-height-3 mb-2">Careers</a>
          <a class="text-700 block cursor-pointer line-height-3">Media Kit</a>
      </div>
      <div class="col-12 md:col-3">
          <div class="text-900 font-bold line-height-3 mb-3">Resourses</div>
          <a class="text-700 block cursor-pointer line-height-3 mb-2">Get Started</a>
          <a class="text-700 block cursor-pointer line-height-3 mb-2">Learn</a>
          <a class="text-700 block cursor-pointer line-height-3">Case Studies</a>
      </div>
      <div class="col-12 md:col-3">
          <div class="text-900 font-bold line-height-3 mb-3">Community</div>
          <a class="text-700 block cursor-pointer line-height-3 mb-2">Discord</a>
          <a class="text-700 block cursor-pointer line-height-3 mb-2">Events</a>
          <a class="text-700 block cursor-pointer line-height-3 mb-2">FAQ</a>
          <a class="text-700 block cursor-pointer line-height-3">Blog</a>
      </div>
      <div class="col-12 md:col-3">
          <div class="text-700 line-height-3 mb-3">Join our community to get weekly updates and unique gifts every
              friday.</div>
          <input pInputText placeholder="Enter your email" class="border-round border-400 p-3 mb-3 w-full">
          <button pButton pRipple label="Join" class="px-5 py-3"></button>
      </div>
  </div>
  <div class="flex flex-wrap align-items-center justify-content-between mt-6">
      <div class="flex align-items-center justify-content-start md:mb-0 mb-3">
          <img src="assets/images/blocks/logos/alfred-700.svg" alt="Image">
      </div>
      <div class="flex align-items-center justify-content-between md:mb-0 mb-3">
          <a class="text-700 cursor-pointer md:ml-5 ml-2">Brand Policy</a>
          <a class="text-700 cursor-pointer md:ml-5 ml-2">Privacy Policy</a>
          <a class="text-700 cursor-pointer md:ml-5 ml-2">Terms of Service</a>
      </div>
      <div class="flex align-items-center justify-content-between">
          <a class="cursor-pointer text-500 md:ml-3 ml-2">
              <i class="pi pi-twitter text-xl"></i>
          </a>
          <a class="cursor-pointer text-500 md:ml-3 ml-2">
              <i class="pi pi-facebook text-xl"></i>
          </a>
          <a class="cursor-pointer text-500 md:ml-3 ml-2">
              <i class="pi pi-github text-xl"></i>
          </a>
      </div>
  </div>
</div>
